

/* Animação para os números aparecerem em sequência com rotação e mudança de cor */
@keyframes revelarNumero {
  0% {
    /* Começa invisível, tamanho zero e sem rotação */
    opacity: 0;
    transform: scale(0);
    color: black;
    background-color: var(--content-brand);
  }
  
  25% {
    /* Aparece com fundo, aumenta de tamanho e rotaciona 360º */
    opacity: 1;
    transform: scale(1.3) ;
    color: black;
    background-color: var(--content-brand);
  }
  
  50% {
    /* Mantém aparência com número preto */
    opacity: 1;
    transform: scale(1.3) rotateZ(360deg) ;
    color: black;
    background-color: var(--content-brand);
  }
  
  75% {
    /* Diminui um pouco e gira mais 360º (total 720º) */
    opacity: 1;
    transform: scale(1.2) rotateZ(720deg);
    color: black;
    background-color: var(--content-brand);
  }
  
  100% {
    /* Tamanho final, número em cor rosa (content-brand) */
    opacity: 1;
    transform: scale(1) rotateZ(720deg);
    color: var(--content-brand);
    background-color: black; 
   }
}


