*{
padding: 0;
margin: 0;
}

:root {

/* Cores */
--content-primary: #FFFFFF;
--content-secondary: #C7C9CC;
--content-tertiary: #D9D9D9;
--content-brand: #C58DE7;
--color-inverse: #030203;

--background-primary: #020202;
--background-secondary: #111012;
--background-tertiary: #24222E;
--background-brand: #C58DE7;
--background-gray: #3D3D3D;

--accent-pink: #D586E0;
--acent-blue: #91A1FA;
--accent-green: #77C0A;
--accent-lime: #D1DC97;
--accent-red: #E9A9B3;

--gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
--gradient-background: #D586E0 0%, #91A1FA 98.93%;
--gradient-content: #C7C9CC 0%, #3D3D3D 100%;

/* Tipografia */

--display-large: 800 4rem/1.3 "Sora", sans-serif;
--display-medium: 800 2.5rem/1.3 "Sora", sans-serif;
--display-small: 700 2rem/1.3 "Sora", sans-serif;

--roboto-overline: 700 1rem/1.5 "Roboto Mono", monospace;

--p-large: 500 1rem/1.5 "Roboto Flex", sans-serif;
--p-medium: 500 0.875rem/1.5 "Roboto Flex", sans-serif;
--p-small: 500 0.75rem/1.5 "Roboto Flex", sans-serif;
--label-medium: 700 1.25rem/1.5 "Roboto Flex", sans-serif;
--label-small: 700 1rem/1.5 "Roboto Flex", sans-serif;
}

