@import url(global.css);

@media (width <= 24.375rem) {

body {
width: 100%;
height: 55.1875rem;
}

.logo {
margin-top: 2.75rem;
margin-inline: auto;
}

}


body {
background-color: var(--background-primary);
width: 85.375rem;
height: 48rem;
}

.logo {
display: flex;
align-items: center;
gap: 11px;
width:10.75rem;
height:2.375rem;
font-family: "Rosa", sans-serif;
font-size: 1.5rem;
font-weight: 900;
color: var(--content-primary);
margin: 4.75rem 67.125rem 5.56rem 7.5rem ;

}

.container {

width: 68.625rem;
height: 25.75rem;
margin-inline: auto;

}

.content {
width: 31.75rem;
height: 25.75rem;
}

.content header {
width: 100%;
height: 14rem;
margin-bottom: 2.375rem;

}

.content header span {
font: var(--roboto-overline);
background-image: linear-gradient(var(--gradient-content));
background-clip: text;
color:transparent;
margin-bottom: 0.75rem;
}

.content header h1 {
font: var(--display-large);
color: var(--content-primary);
height: auto;
width: auto;

}

.questions {

border: 2px red solid;
width: 24.125rem;
height: 9.375rem;

& .items span {
font: var(--p-medium);
color: var(--content-brand);
}

& .items p {
font: var(--p-small);
color: var(--content-secondary);
}

}
