.resultados {
border: 1px solid #ccc;
width: 30.125rem;
height: 18.375rem;
}

.title {
 border: 1px solid green;
 width: 100%;
 height: 3.625rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 2.5rem;
}

.title h1 {
font-family: 'Roboto flex', monospace;
font-size: 1.25rem ;
color: var(--content-primary);
margin-inline: auto;
margin-bottom: 4px;
}

.title p {
font: var(--roboto-overline);
color: var(--content-secondary);
margin-inline: auto;
}

.content-result {
border: 1px solid blue;
width: 10.75rem;
height: 6.25rem;
margin-inline: auto;
margin-bottom: 2.5rem;
display: flex;
}

.sortear-again {
width: 100%;
height: 3.5rem;
border-radius: 8px;
background:
    linear-gradient(var(--bg-tertiary), var(--bg-tertiary)) padding-box,
    linear-gradient(var(--bg-tertiary), var(--bg-tertiary)) border-box;

  background-clip: padding-box, border-box;

  background-size: 100% 100%, 100% 100%;
  background-position: 0 0, 0 0;

  transition: background-position 1s ease;

border: 2px solid transparent;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
font: var(--label-medium);
color: var(--content-tertiary);
position: relative;

}

.img-arrow {
position: absolute;
right: 145px;
}

.sortear-again:hover .img-circle {
transform: rotate(360deg);
transition: transform 1.8s ease;
}

.sortear-again:hover {

     background:
    linear-gradient(var(--background-primary), var(--background-primary)) padding-box,
    linear-gradient(var(--gradient-border)) border-box;

  background-size: 100% 100%, 200% 200%;
  background-position: 0 0, 100% 50%;

}


/* estilização dos números sorteados */

.content-result {

width: 6.25rem;
  height: 6.25rem;
  border-radius: 28px;
  background-color: var(--content-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--display-large);
  color: white;
  margin-inline: auto;

  opacity: 0;
  transform: scale(0.5) rotateZ(0deg);

  transition:
    transform .3s ease,
    opacity .3s ease;
}

/* 1: escala */
.content-result.scale {
  opacity: 1;
  transform: scale(1.2) rotateZ(0deg);
}

/* 2: rotação */
.content-result.rotate {
  transform: scale(1.2) rotateZ(90deg);
}

/* 3: desaparece */
.content-result.fade-out {
  opacity: 0;
}



